<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <span>
					<img alt="Pokedex" class="_pokeball" src="assets/images/pokeball.svg">
				</span>
				<span class="_brand-text">Pok&eacute;dex</span>
      </a>
    </div>
  </div>
</nav>

<div class="container">
	{{outlet}}
</div>
{{#unless indexViewIsShown}}
  <div class="well">{{#link-to 'index'}}Return Home{{/link-to}}</div>
{{/unless}}
