<h3>{{format-gen model.name}}</h3>
<h4>Pok&eacute;mon species introduced in this generation:</h4>
<ul class="list-group">
  {{#each model.pokemon_species as |specie|}}
    {{#link-to 'species' specie.name class="list-group-item"}}{{sentence-case specie.name}}{{/link-to}}
  {{/each}}
</ul>
