<h4>Pick your Pok&eacute;mon:</h4>
<div class="list-group _poke-list">
{{#each model as |poke|}}
  {{#link-to 'pokemon' poke.id classNames='list-group-item'}}
    #{{zero-pad poke.id 3}}: {{sentence-case poke.name}}
  {{/link-to}}
{{/each}}
</div>
