<h4>{{sentence-case model.name}}</h4>

<h5>Pok&eacute;mon of this type:</h5>
<div class="list-group _poke-list">
{{#each model.pokemon as |poke|}}
  {{#link-to 'pokemon' poke.pokemon.id classNames='list-group-item'}}
    {{sentence-case poke.pokemon.name}}
  {{/link-to}}
{{/each}}
</div>
